.inputPhoneHyphen {
  line-height: 50px;
  font-size: 30px;
  font-weight: lighter;
}
.labelRequireMark {
  color: red;
}
.labelOptionalMark {
  color: #a3a3a3;
  font-weight: 400;
  margin-left: 4px;
  font-size: 13px;
}
